
.title {
	margin: 5px 0 20px;
    color: #7b7a7a;
    font-size: 14px;
}

.block {
	display: flex;
	justify-content: space-between;
}

.input{
	display: flex;
	flex-direction: column;
}

.input:nth-child(1) {
	width: 75%;
}

.input:nth-child(2) {
	width: 20%;
}

.cardDiv {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 20px;
    background: #d3d3d352;
	color: #7b7a7a;
}
.cardDiv > p {
	font-weight: bold;
}

